<%= if Pow.Plug.current_user(@conn) do %>
  <span><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "button-flat" %></span>
<% end %>
<%= if Frida.Users.is_admin?(@current_user) do %>
  <span><%= link "Admin", to: Routes.live_path(@conn, FridaWeb.AdminLive), class: "button-flat" %></span>
<% end %>
