<section class="container justify-center py-24 px-4 flex flex-row text-gray-700 transition-colors">
  <%= for user <- @users do %>
    <div class="py-4">
      <div class="text-sm text-gray-800"><%= user.email %></div>
    </div>
  <% end %>
</section>
